/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    min-height: 100%;
    width: 100%;
}

nav {
    padding: 1.25rem;
    background-color: black;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.hamburger {
    display: none;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

.navitem {
    margin-left: 1rem;
}

.home {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin-right: 1rem;
}

.navitem > a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a:hover {
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    width: 100%;
}

/* title area */
.title-area {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title, .subtitle {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.2rem;
    display: inline;
}

.subtitle {
    font-weight: 300;
    margin-left: 0.75rem;
}

/* contents area */
.contents-area {
    border: solid 3px;
    width: 80%;
    max-width: 800px;
}

.about-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-text {
    border-bottom: solid 3px;
    cursor: pointer;
    width: 100%;
}

.about-text:nth-child(3){
    border-bottom: none;
}

.about-title {
    display: flex;
    flex-direction: row;
}

.number {
    min-width: 3.25rem;
    border-right: 3px solid;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open{
    border-bottom: 3px solid;
}

.number > p {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.num-title {
    font-size: 1.25rem;
    padding: 0.75rem;
    font-weight: 700;
}

.desc {
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.5;
}

/* random-area */
.random-area {
    margin-top : 3rem;
}

.random-title-area {
    display: flex;
    flex-direction: row;
    letter-spacing: -0.1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.random-btn {
    margin-left: 0.75rem;
    padding: 0.25rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 1rem;
    background-color: yellow;
    cursor: pointer;
}

.random-area {
    width: 80%;
    max-width: 800px;
}

.random-contents {
    border-bottom: solid 1px;
    padding-bottom: 0.25rem;
}

@media screen and (max-width: 768px){
    
    nav {
        padding: 0.75rem 1rem;
        background-color: black;
        color: white;
    }
    
    .navbar{
        align-items: center;
        justify-content: start;
    }

    .hamburger {
        display: inline;
    }

    .home {
        font-size: 0.925rem;
        margin-left: 0.5rem;
    }

    .navitem {
        display: none;
    }

    .title-area {
        margin: 0.5rem 0 0.5rem 0;
        min-width: 300px;
    }

    .title, .subtitle {
        font-size: 3rem;
        letter-spacing: -0.2rem;
    }
    .subtitle {
        font-weight: 300;
        margin-left: 0.5rem;
        line-height: 0.8;
    }

    .contents-area {
        width: 100%;
        min-width: 300px;
        max-width: 480px;
    }

    .number {
        min-width: 2rem;
    }

    .num-title {
        font-size: 1rem;
        padding: 0.4rem;
    }
    
    .desc {
        padding: 0.8rem;
        font-size: 1rem;
        line-height: 1.3;
    }

    .random-area {
        margin-top : 3rem;
        width: 100%;
        min-width: 300px;
        max-width: 480px;
    }

}