* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 메뉴 */
nav {
    padding: 1.25rem;
    background-color: black;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: inherit; 
}

.navitem {
    margin-left: 1rem;
}

.hamburger {
    display: none;
}

.home {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin-right: 1.25rem;
}

.navitem > a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

a:hover {
    font-style: italic;
}

/* 공통 main 박스, 타이틀 */
main {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.title-area {
    margin: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Poppins', sans-serif;
}

.title, .subtitle {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.2rem;
    display: inline;
}

.subtitle {
    font-weight: 100;
    margin-left: 0.75rem;
}

/* index 화면 */
.main-cover-area {
    background: rgb(255,245,127);
    background: linear-gradient(207deg, rgba(255,245,127,1) 0%, rgba(168,249,255,1) 87%, rgba(68,224,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-subtitle {
    font-size: 3rem;
    letter-spacing: -0.1rem;
    line-height: 1;
}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: -0.2rem;
    line-height: 1;
    margin: 1.5rem 0;
    padding: 0.25rem 0.5rem;
    background-color: white;
}

.main-p {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    letter-spacing: 1rem;
    line-height: 1;
}

/* about 화면, contact 화면 */
.contents-area {
    border: solid 3px;
    width: 80%;
    max-width: 800px;
}

.about-texts {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.about-text {
    border-bottom: solid 3px;
    cursor: pointer;
    width: 100%;
}

.contact-about-text {
    cursor:default;
}

.about-text:nth-child(3){
    border-bottom: none;
}

.contact-about-text:nth-child(2){
    border-bottom: none;
}

.about-title {
    display: flex;
    flex-direction: row;
}

.number {
    min-width: 3.25rem;
    border-right: 3px solid;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-num{
    min-width: 6rem;
}

.open{
    border-bottom: 3px solid;
}

.number > p {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.num-title {
    font-size: 1.25rem;
    padding: 0.75rem;
    font-weight: 700;
}

.desc {
    padding: 1rem;
    line-height: 1.5;
}

.random-area {
    margin-top : 3rem;
}

.random-title-area {
    display: flex;
    flex-direction: row;
    letter-spacing: -0.1rem;
    align-items: center;
    margin-bottom: 0.5rem;
}

.random-btn {
    margin-left: 0.75rem;
    padding: 0.25rem 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border-radius: 1rem;
    background-color: yellow;
    color: black;
    cursor: pointer;
}

.random-area {
    width: 80%;
    max-width: 800px;
}

.random-contents {
    border-bottom: solid 1px;
    padding-bottom: 0.25rem;
}

/* works 화면 */
.works-area{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrow-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-area > i{
    width: 100%;
    font-size: 5rem;
    cursor: pointer;
} 

.fa-angle-right{
    padding-left: 1rem;
}

.fa-angle-left{
    padding-right: 1rem;
}

.arrow-area > .gray{
    opacity: 0.3;
    cursor: default;
}

.works-contents-area{
    max-width: 30rem;
}

.work-title {
    font-size: 1.25rem;
    padding: 0.75rem;
    font-weight: 700;
    text-align: center;
    background-color: yellow;
}

.work-img {
    width: 100%;
}

.work-desc > span{
    margin-bottom: 0.3rem;
    display: block;
    font-size: 0.75rem;
}


@media screen and (max-width: 768px){
    /* 메뉴 */
    a {
        color: inherit;
        text-decoration: inherit; 
    }
    
    nav {
        padding: 0.75rem 1rem;
        background-color: black;
        color: white;
    }
    
    .navbar{
        align-items: center;
        justify-content: start;
    }

    .hamburger {
        display: inline;
        margin-left: 0.35rem;
    }

    .home {
        font-size: 0.925rem;
        margin-left: 1.25rem;
    }

    .navitem {
        display: none;
        margin-left: 0.35rem;
        padding: 0.25rem;
    }

    .navbar-first{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* 햄버거 메뉴 오픈 */
    .ham-open{
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }

    .hamitem {
        display: block;
        margin-top: 0.5rem;
    }

    /* index 화면 */
    .main-subtitle {
        font-size: 1rem;
    }
    .main-title{
        font-size: 3rem;
        margin: 0.75rem 0;
        padding: 0.1rem 1rem;
    }
    .main-p{
        font-size: 0.7rem;
        letter-spacing: 0.6rem;
    }

    /* index 제외 공통 화면 */
    .title-area {
        margin: 0.5rem 0 0.5rem 0;
        min-width: 300px;
    }

    .title, .subtitle {
        font-size: 3rem;
        letter-spacing: -0.2rem;
    }
    .subtitle {
        font-weight: 300;
        margin-left: 0.5rem;
        line-height: 0.8;
    }

    .contents-area {
        width: 100%;
        min-width: 300px;
        max-width: 480px;
    }

    .number {
        min-width: 2rem;
    }

    .num-title {
        font-size: 1rem;
        padding: 0.6rem;
    }

    /* contact 화면 */
    .contact-num {
        min-width: 3rem;
    }
    .contact-num > p{
        font-size: 0.8rem;
    }
    .contact-num-title{
        font-size: 0.8rem;
    }
    
    .desc {
        padding: 0.8rem;
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .random-area {
        margin-top : 3rem;
        width: 100%;
        min-width: 300px;
        max-width: 480px;
    }

    /* work 화면 */
    .works{
        padding: 1rem 0.5rem; 
    }

    .works-contents-area{
        min-width: 150px;
        flex-shrink: 1;
    }

    .arrow-area > i {
        font-size: 3rem;
    }
}